body, html {
    height: 100%;
    font-family: 'jetBrains Mono', Courier, monospace;
    background-color: darkslategray;
    font-size: 13px;
}

.container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-form{
    height: 500px;
    width: 430px;
    padding: 0 35px;

}